<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861323157-0dn0t2br47fuuk3pgnt8dblrsluto7ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861323157-0dn0t2br47fuuk3pgnt8dblrsluto7ca</string>
	<key>API_KEY</key>
	<string>AIzaSyDcVb2XygdCpPNfwFOgmiYq9m4voJk1TrM</string>
	<key>GCM_SENDER_ID</key>
	<string>861323157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.BookIt</string>
	<key>PROJECT_ID</key>
	<string>bookit-19695</string>
	<key>STORAGE_BUCKET</key>
	<string>bookit-19695.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861323157:ios:9ac6cfd3e91b2b9f4fc09c</string>
</dict>
</plist>